FORMAT: 1A
HOST: https://isaac.jamesmcfadden.co.uk/api/v1

# Binding of Isaac API

Documentation for the Open Source Binding of Isaac RESTful API.

The source code is hosted at [https://github.com/jamesmcfadden/binding-of-isaac-api](https://github.com/jamesmcfadden/binding-of-isaac-api).

**Note that the API is still in early development, so breaking changes can, and most likely will, happen.**

## Items [/item]

### List all Items [GET]

+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {
            "count": 50,
            "total": 461,
            "first": "https://isaac.jamesmcfadden.co.uk/api/v1/item?page=1",
            "next": "https://isaac.jamesmcfadden.co.uk/api/v1/item?page=2",
            "previous": null,
            "last": "https://isaac.jamesmcfadden.co.uk/api/v1/item?page=10",
            "data": [
                {
                    "id": "c12kq",
                    "name": "???'s Only Friend",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/item/c12kq"
                }
            ]
        }

### Retrieve an Item [GET /item/{id}]

+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    + Body

            {
                "id": "2JrEs",
                "name": "Pentagram",
                "url": "https://isaac.jamesmcfadden.co.uk/api/v1/item/2JrEs"
            }

## Bosses [/boss]

### List all Bosses [GET]

+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {  
            "count": 50,
            "total": 83,
            "first": "https://isaac.jamesmcfadden.co.uk/api/v1/boss?page=1",
            "next": "https://isaac.jamesmcfadden.co.uk/api/v1/boss?page=2",
            "previous": null,
            "last": "https://isaac.jamesmcfadden.co.uk/api/v1/boss?page=2",
            "data": [  
                {  
                    "id": "xWPxL",
                    "name": "Blastocyst",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/xWPxL",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/blastocyst.png"
                },
                {  
                    "id": "3ot7Z",
                    "name": "Blue Baby",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/3ot7Z",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/blue-baby.png"
                },
                {  
                    "id": "iK4uM",
                    "name": "Brownie",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/iK4uM",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/brownie.png"
                },
                {  
                    "id": "Rty6q",
                    "name": "C.H.A.D.",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/Rty6q",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/chad.png"
                },
                {  
                    "id": "pfj4n",
                    "name": "Chub",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/pfj4n",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/chub.png"
                },
                {  
                    "id": "YaF7j",
                    "name": "Conquest",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/YaF7j",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/conquest.png"
                },
                {  
                    "id": "ry7Ua",
                    "name": "Daddy Long Legs",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/ry7Ua",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/daddy-long-legs.png"
                },
                {  
                    "id": "ufpUE",
                    "name": "Dangle",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/ufpUE",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/dangle.png"
                },
                {  
                    "id": "YaGZp",
                    "name": "Dark One",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/YaGZp",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/dark-one.png"
                },
                {  
                    "id": "LMCDe",
                    "name": "Death",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/LMCDe",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/death.png"
                },
                {  
                    "id": "gs6UX",
                    "name": "Dingle",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/gs6UX",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/dingle.png"
                },
                {  
                    "id": "plQUT",
                    "name": "Envy",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/plQUT",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/envy.png"
                },
                {  
                    "id": "Bzoer",
                    "name": "Famine",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/Bzoer",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/famine.png"
                },
                {  
                    "id": "p7mbN",
                    "name": "Fistula",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/p7mbN",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/fistula.png"
                },
                {  
                    "id": "gZVST",
                    "name": "Gabriel",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/gZVST",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/gabriel.png"
                },
                {  
                    "id": "7GFNZ",
                    "name": "Gemini",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/7GFNZ",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/gemini.png"
                },
                {  
                    "id": "mLE6V",
                    "name": "Gish",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/mLE6V",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/gish.png"
                },
                {  
                    "id": "vuKDM",
                    "name": "Gluttony",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/vuKDM",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/gluttony.png"
                },
                {  
                    "id": "Jv6Mk",
                    "name": "Greed",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/Jv6Mk",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/greed.png"
                },
                {  
                    "id": "N6WWA",
                    "name": "Gurdy",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/N6WWA",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/gurdy.png"
                },
                {  
                    "id": "mFJUH",
                    "name": "Gurdy Jr.",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/mFJUH",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/gurdy-jr.png"
                },
                {  
                    "id": "yKfJS",
                    "name": "Gurglings",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/yKfJS",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/gurglings.png"
                },
                {  
                    "id": "KruQ8",
                    "name": "Hush",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/KruQ8",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/hush.png"
                },
                {  
                    "id": "F5Ta0",
                    "name": "Isaac",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/F5Ta0",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/isaac.png"
                },
                {  
                    "id": "PJ6Pl",
                    "name": "It Lives",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/PJ6Pl",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/it-lives.png"
                },
                {  
                    "id": "VKq9n",
                    "name": "Krampus",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/VKq9n",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/krampus.png"
                },
                {  
                    "id": "icZ0S",
                    "name": "Larry Jr.",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/icZ0S",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/larry-jr.png"
                },
                {  
                    "id": "AFvzN",
                    "name": "Little Horn",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/AFvzN",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/little-horn.png"
                },
                {  
                    "id": "bG5Lf",
                    "name": "Loki",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/bG5Lf",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/loki.png"
                },
                {  
                    "id": "GJgId",
                    "name": "Lokii",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/GJgId",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/lokii.png"
                },
                {  
                    "id": "fv7EQ",
                    "name": "Lust",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/fv7EQ",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/lust.png"
                },
                {  
                    "id": "TOwix",
                    "name": "Mama Gurdy",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/TOwix",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/mama-gurdy.png"
                },
                {  
                    "id": "FHsB6",
                    "name": "Mask of Infamy",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/FHsB6",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/mask-of-infamy.png"
                },
                {  
                    "id": "af31L",
                    "name": "Mega Fatty",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/af31L",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/mega-fatty.png"
                },
                {  
                    "id": "6m78r",
                    "name": "Mega Maw",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/6m78r",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/mega-maw.png"
                },
                {  
                    "id": "i0vFD",
                    "name": "Mega Satan",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/i0vFD",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/mega-satan.png"
                },
                {  
                    "id": "PHIeR",
                    "name": "Mom",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/PHIeR",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/mom.png"
                },
                {  
                    "id": "BmmeN",
                    "name": "Mom's Heart",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/BmmeN",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/moms-heart.png"
                },
                {  
                    "id": "qVIN9",
                    "name": "Monstro",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/qVIN9",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/monstro.png"
                },
                {  
                    "id": "TswBe",
                    "name": "Monstro II",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/TswBe",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/monstro-ii.png"
                },
                {  
                    "id": "GA8TG",
                    "name": "Mr. Fred",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/GA8TG",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/mr-fred.png"
                },
                {  
                    "id": "Ii7MK",
                    "name": "Peep",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/Ii7MK",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/peep.png"
                },
                {  
                    "id": "twGCn",
                    "name": "Pestilence",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/twGCn",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/pestilence.png"
                },
                {  
                    "id": "fa6Ly",
                    "name": "Pin",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/fa6Ly",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/pin.png"
                },
                {  
                    "id": "0ug2s",
                    "name": "Polycephalus",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/0ug2s",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/polycephalus.png"
                },
                {  
                    "id": "banyC",
                    "name": "Pride",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/banyC",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/pride.png"
                },
                {  
                    "id": "xjnFL",
                    "name": "Rag Man",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/xjnFL",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/rag-man.png"
                },
                {  
                    "id": "QkpIn",
                    "name": "Satan",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/QkpIn",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/satan.png"
                },
                {  
                    "id": "qzFxM",
                    "name": "Scolex",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/qzFxM",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/scolex.png"
                },
                {  
                    "id": "bTCYd",
                    "name": "Sloth",
                    "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/bTCYd",
                    "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/sloth.png"
                }
            ]
        }

### Retrieve a Boss [GET /boss/{id}]

+ Request

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    + Body

            {
                "id": "qVIN9",
                "name": "Monstro",
                "url": "https://isaac.jamesmcfadden.co.uk/api/v1/boss/qVIN9",
                "sprite_url": "https://isaac.jamesmcfadden.co.uk/img/sprites/bosses/monstro.png"
            }
